.f-w{
    width: 100%;
}

.f-h{
    height: 100vh;
}

.w-20{
    width: 20%;
}

.w-50{
    width: 50%;
}

.fix-b{
    position: absolute !important;
    bottom: 0;
}

.right{
    position: absolute !important;
    right: 0;
    top: 10px;
}

.bg-op-0{
    background-color: rgba(0, 0, 0, 0) !important;
}